$pearlWhite: hsl(0, 0%, 100%);
$lightGray: #bfbfbf;
$ivoryGray: #6d6d6d;
$darkGray: #222222;
$nightBlack: hsl(0, 0%, 15%);
$skyBlue: hsl(216, 60%, 48%);
$electricPurple: #ac8a25;
$thunderbirdRed: #ea2222;
