@import '../../css/00-settings/z-index.scss';
@import '../../css/00-settings/colors.scss';

[data-reach-dialog-overlay] {
  overflow-y: scroll;
  z-index: z(dialog);
}

[data-reach-dialog-content] {
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  padding-right: 18px;
  background-color: transparent;
}

[data-reach-dialog-overlay] {
  background: rgba($tastyYellow, 0.7);
}
