@import '../../css/00-settings/z-index.scss';

$height: 4rem;

.root {
  position: fixed;
  z-index: z(header);
  width: 100%;
  height: $height;
}

.space {
  height: calc(#{$height} + 2rem);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $height;
}

.link {
  text-decoration: none !important;
}