.root {
  display: flex;
  flex-wrap: wrap;
}

.noWrap {
  flex-wrap: nowrap;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.columnReverse {
  flex-direction: column-reverse;
}

.item {
  max-width: 100%;
}

.item:empty {
  display: none;
}
