@import '../../css/00-settings/input.scss';
@import '../../css/00-settings/colors.scss';

.root {
  position: relative;
  height: 700px;
  background: rgba(0, 0, 0, 0) url(cake.jpg) no-repeat scroll center center / cover;
  margin-bottom: 2rem;
}

.colorfulOverlay {
  background: linear-gradient(0deg, rgba($tastyYellow, 0.7) 0%, $tastyYellow 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  right: 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: $pearlWhite;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;

  @media only screen and (min-width: 541px) {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

.link {
  $padding: 1.5rem;
  $height: 3.5rem;

  height: $height;
  padding-left: $padding;
  padding-right: $padding;
  border-radius: $height;
  border: 0;
  background-color: $pearlWhite;
  color: $tastyYellow;
  white-space: nowrap;
  transition: filter 0.3s, background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 700;

  &:hover, &:focus {
    text-decoration: none;
    background: linear-gradient(-47deg, darken($tastyYellow, 10) 0%, lighten($tastyYellow, 10) 100%);
    color: $pearlWhite;
  }

  &:active, &.active {
    filter: brightness(1.3);
  }
}
